<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylegame.css">
    <meta charset="utf-8">
    <title>SlapJack</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="pileCard1" style="float: left">
here i am
      </div>
      <div class="cardplay" style="background">

      </div>
      <div class="pileCard2" style="float: right">

      </div>

    </div>
  </body>
</html>
