<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sockets</title>
    <script src="jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
          console.log("jquery ready");
          const socket = io.connect()
          console.log(socket);
          // socket.emit("example")
          $("button").click(() =>{
            socket.emit("clickcounter")
          })
          socket.on("counter", numberOfClicks => {
            $("#counting").text(numberOfClicks)
          })
        })
    </script>
  </head>
  <body>
    <h1>Welcome To SlapJack!</h1><br>
    <h3>Enter your name below to play.</h3>
    <form class="" action="/startGame" method="post">
      <input type="text" name="name" placeholder="Your Name">
      <input type="submit" name="" value="Start Game">
    </form>
    <!-- <button>Click Me</button>
    <div id="counting">

    </div> -->
  </body>
</html>
